/*----------Css for Home Page---------*/
.linespace{
	line-height: 1.9;
}

.who-title{
	color: #78ab0c;
	text-align: center;
}

.question{
	color: #78ab0c;
}
/*----------/Css for Home Page---------*/



/*-----------Css For Login Page----------*/
hr.H1{
	border:none;
	height: 3px;              /* Horizental line */
	background: #dddddd;
}

.vl {
 	position: absolute;
 	left: 50%;
 	transform: translate(-50%);
 	border: 2px solid #ddd;
 	margin-top: -23px;
 	/*height: 100px;*/
}

.vl-innertext {
	position: absolute;
  	top: 50%;
 	transform: translate(-50%, -50%);  /* text inside the vertical line */
  	background-color: #f1f1f1;
  	border: 3px solid #ccc;
  	border-radius: 50%;
 	padding: 8px 10px;
}

		/* add appropriate colors to fb, twitter and google buttons */
button.fb {
  background-color: #3B5998;
  color: white;
}

button.twitter {
  background-color: #55ACEE;
  color: white;
}

button.google {
  background-color: #dd4b39;
  color: white;
}

/*-----------/Css For Login Page----------*/


/*-----------Css For Register Page----------*/
select.sel-dropdown{
    background-color: #FFF;
    border: 1px solid #e6e6ea;
    height: 45px;
    padding: 0px 15px;
    border-radius: 10px;
    transition: 0.3s border-color;
}
/*-----------/Css For Register Page----------*/


/*-----------Css For Term Of Use Page----------*/
.term{
  margin-top: -20px;
  line-height: 1.9;
  list-style-type: disc;
  margin-bottom: 60px;
  margin-left: 30px;
}
/*-----------/Css For Term Of Use Page----------*/

/*-----------Css For privacy policy Page----------*/
.privacy{
  line-height: 1.9;
  list-style-type: disc;
  margin-left: 40px;
}

.policy{
  line-height: 1.9;
  list-style-type: circle;
  margin-left: 40px;
}

.note{
  color: #78ab0c; 
  margin-bottom: 60px;
}
  
/*-----------/Css For privacy policy Page----------*/

/*-----------Css For FAQs Page----------*/
.collapsible {
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

 .collapsible:hover {
  background-color: #7F8C8D;
}

.collapsible:after {
  content: '\002B';
  /*color: white;*/
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

/*.active:after {
  content: "\2212";
}*/

.contentabc{
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #78ab0c;
  color: white;
  line-height: 1.9;
}

.abc10{
  background-color: #f2f2f2; 
  margin-bottom: 20px;
}

.abc11{
  line-height: 1.9;
  list-style-type: disc;
  margin-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.abc12{
  line-height: 1.9;
  list-style-type: disc;
  margin-left: 20px;
  margin-top: -10px;
}

/*-----------/Css For FAQs Page----------*/

/*-----------Css For Readmore Page----------*/
.about-content{
  line-height: 1.9;
}
/*-----------/Css For Readmore Page----------*/
